<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/wllzjZxg4ynlAm5xmOICJ2uHOPJ.jpg">
    </ion-card-header>
  </ion-card>

  <ion-label>
    <div class="ion-text-wrap">
      <h1 >Godzilla vs. Kong </h1>
      <p>01/04/2021 </p>
      <ion-chip color="success" slot="start">
        <ion-label >7.9%</ion-label>
      </ion-chip>
      <ion-badge color="tertiary">Aventura</ion-badge>
      <ion-badge color="tertiary">Ação</ion-badge>
      <ion-badge color="tertiary">Fantasia</ion-badge>
    </div>
  </ion-label>

</ion-content>
