<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/qPQFWrLoQYyGxmeBgmpX901Q0mF.jpg">
    </ion-card-header>

    <ion-card-content>
      <ion-label>
        <div class="ion-text-wrap">
          <h1 >Creed II </h1>
          <p>24/01/2019 </p>
          <ion-chip color="warning" slot="start">
            <ion-label >6.9%</ion-label>
          </ion-chip>
          <ion-badge color="tertiary">Drama</ion-badge>
        </div>
      </ion-label>


    </ion-card-content>
  </ion-card>

</ion-content>
