<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/5djg3by4JzaOM4OXmJxHLjXv7mS.jpg">
    </ion-card-header>
  </ion-card>

  <ion-label>
    <div class="ion-text-wrap">
      <h1 >As Torres Gêmeas </h1>
      <p>29/09/2006 </p>
      <ion-chip color="warning" slot="start">
        <ion-label >6.1%</ion-label>
      </ion-chip>
      <ion-badge color="tertiary">Drama</ion-badge>
      <ion-badge color="tertiary">História</ion-badge>
      <ion-badge color="tertiary">Thrille</ion-badge>
    </div>
  </ion-label>
</ion-content>
